.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box; /* เพิ่มการตั้งค่าให้รวม padding กับ border */
} 

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="username"],
.form input[type="password"],
.form input[type="email"],
.form input[type="nickname"],
.form input[type="faculty"],
.form input[type="major"],
.form input[type="mbti"],
.form input[type="facebook"],
.form input[type="instagram"],
.form input[type="twitter"],
.form input[type="subject"],
.form input[type="sect"]{
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%; /* ปรับให้เต็มความกว้างของ .form */
  max-width: 100%; /* เพิ่ม max-width ให้มีความยืดหยุ่น */
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="username"]:focus,
.form input[type="password"]:focus,
.form input[type="name"]:focus,
.form input[type="nickname"]:focus,
.form input[type="faculty"]:focus,
.form input[type="major"]:focus,
.form input[type="mbti"]:focus,
.form input[type="facebook"]:focus,
.form input[type="instagram"]:focus,
.form input[type="twitter"]:focus,
.form input[type="subject"]:focus,
.form input[type="sect"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background: linear-gradient(135deg, #3bbaff, #60d394);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background: linear-gradient(135deg, #60d394, #3bbaff);
  color: black;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
